*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



h1{
    font-size: 30px;
    margin: 45px;
    color: #581845;
}

button{

    
    border-radius: .25rem;
    margin-top: 15px;

}
.button-morado{
    border: #900C3F;
    background-color: #900C3F;
    padding: 7px 58px 7px 58px;
    width: 100%;
    color:#ffff;
    

}
    
label{
    font-size: 17px;
    color: #581845;
}

.form-text{
    font-size: 15px;
}

.card-body {
    padding: 2.25rem 3.25rem 2.25rem 3.25rem;
}

input{
    
    font-size: 14px!important;

}

.newacount{
    text-align: center;
    margin-top: 20px;
}

.close-session{
    margin: 10px;
}

.button-createoperation{
    background: #1DB52D;
    border: #1DB52D;
    color: #ffff;
    padding: 7px;
}

.icondelete{
    height: 30px;
    width: 20px;

}

.but-delete{
    background: none;
    border: none;
}

.but-update{
    background-color: #C70039;

}


.alert{margin-top: 30px;}

.results{
    margin-top: 20px;
    text-align: center;
    
}

.entry{
    color:#33DE5D;
}

.discharge{
    color:#F41C1C;
}


.button-closesesion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

}